body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #14557B, #7FCEC5);
}
.calculator-grid {
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(140px, auto) repeat(5, 80px);
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    border: 3px solid silver;
    border-radius: 2px;
    outline: none;
}
.calculator-grid > button:hover {
    background-color: rgb(235, 198, 131);
}
.span-two {
    grid-column: span 2;
    
}
.output {
    grid-column: 1/-1 ;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
    border: 4px solid silver;
    border-bottom: none;

}
.output .previous-operand {
    color:rgb(214, 106, 5) ;
    font-size: 20px;
    font-family: sans-serif;
}
.output .current-operand {
    color:rgb(214, 106, 5) ;
    font-size: 35px;
    font-family: sans-serif;
}
